@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');
:root { --font-titulo: 'Cinzel', serif; --color-oro: #ffd700; --borde-dorado: #d4af37; --color-texto: #e0e0e0; }
* { box-sizing: border-box; user-select: none; -webkit-tap-highlight-color: transparent; }
body { margin: 0; padding: 0; font-family: var(--font-titulo); background: url('BG_PIEDRA.jpg') no-repeat center center fixed; background-size: cover; color: var(--color-texto); overflow: hidden; height: 100vh; width: 100vw; }
.oculto { display: none !important; }
.pantalla { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 20px; z-index: 100; }
.btn-master, .btn-jugar { font-family: var(--font-titulo); font-weight: 700; font-size: 18px; color: var(--color-oro); background: linear-gradient(to bottom, #3a3a3a, #1a1a1a); border: 2px solid var(--borde-dorado); border-radius: 4px; padding: 15px 20px; margin: 10px 0; width: 100%; max-width: 350px; cursor: pointer; }
.btn-master:active { transform: translateY(4px); }
.fila-juego { display: flex; gap: 10px; width: 100%; max-width: 350px; justify-content: center; }
#ui-juego { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; z-index: 500; pointer-events: none; }
#zona-superior { height: 55%; width: 100%; position: relative; display: flex; justify-content: center; align-items: center; border-bottom: 4px solid var(--borde-dorado); }
#zona-inferior { height: 45%; width: 100%; background: linear-gradient(to bottom, rgba(26,5,5,0.95), rgba(0,0,0,1)); pointer-events: auto; display: flex; flex-direction: column; align-items: center; justify-content: space-around; padding: 10px 15px; }

/* --- RECUADRO DE ESCANEO (MODIFICADO PARA COLOR VERDE FOSFORESCENTE) --- */
#guia-scanner { 
    width: 240px; 
    height: 240px; 
    border: 6px solid rgba(255,255,255,0.8); 
    border-radius: 20px; 
    transition: all 0.1s ease-in-out; 
    z-index: 10;
}

/* EFECTO VERDE FOSFORESCENTE BRUTAL */
#guia-scanner.verde { 
    border-color: #00ff00 !important; 
    box-shadow: 0 0 60px #00ff00, inset 0 0 30px #00ff00 !important; 
    background: rgba(0, 255, 0, 0.1);
}

.contenedor-gemas { display: flex; gap: 15px; justify-content: center; }
.btn-gema { width: 80px; height: 80px; background-color: transparent; border: none; background-size: contain; background-repeat: no-repeat; background-position: center; display: flex; align-items: center; justify-content: center; }
#btn-i { background-image: url('GEMA_ROJA.png'); } 
#btn-a { background-image: url('GEMA_VERDE.png'); } 
#btn-t { background-image: url('GEMA_GRIS.png'); } 
#btn-m { background-image: url('GEMA_VIOLETA.png'); }