@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');
:root { --font-titulo: 'Cinzel', serif; --color-oro: #ffd700; --borde-dorado: #d4af37; }
body { margin: 0; font-family: var(--font-titulo); background: #000; color: #fff; overflow: hidden; }
.oculto { display: none !important; }
.pantalla { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 100; }
.btn-master, .btn-jugar { background: linear-gradient(to bottom, #444, #111); color: var(--color-oro); border: 2px solid var(--borde-dorado); padding: 15px; width: 100%; cursor: pointer; font-family: var(--font-titulo); font-weight: 700; margin: 10px 0; }
#debug-target { position: fixed; top: 80px; left: 20px; background: rgba(255,0,0,0.8); color: white; padding: 10px; font-size: 24px; font-weight: 900; border: 2px solid white; z-index: 10000; display: none; }
#zona-superior { height: 60%; position: relative; border-bottom: 3px solid gold; }
#zona-inferior { height: 40%; background: rgba(0,0,0,0.9); display: flex; flex-direction: column; align-items: center; padding: 10px; }
.contenedor-gemas { display: flex; gap: 10px; }
.btn-gema { width: 70px; height: 70px; background-size: contain; background-repeat: no-repeat; background-color: transparent; border: none; color: white; font-weight: 900; font-size: 24px; }
#btn-i { background-image: url('GEMA_ROJA.png'); }
#btn-a { background-image: url('GEMA_VERDE.png'); }
#btn-t { background-image: url('GEMA_GRIS.png'); }
#btn-m { background-image: url('GEMA_VIOLETA.png'); }
.valor-flotante { font-size: 35px; font-weight: 900; display: block; text-align: center; }
.neon-blanco { color: #fff; text-shadow: 0 0 10px #fff; }
.neon-amarillo { color: #ff0; text-shadow: 0 0 10px #ff0; }
.neon-violeta { color: #d0f; text-shadow: 0 0 10px #d0f; }
#video-action { position: absolute; top:0; left:0; width:100%; height:100%; object-fit: cover; display:none; z-index: 50; }
#hud-derecho { position: absolute; top: 10px; right: 10px; display: none; flex-direction: column; align-items: center; background: rgba(0,0,0,0.5); padding: 10px; border-radius: 10px; }
#hud-img-escudo { width: 80px; }
#hud-txt-valor { font-size: 50px; font-weight: 900; }